<mat-toolbar>
  <div class="header-container">
    <div class="top-container">
      <div class="text-container">
        <span class="site-title">ToulouseWatch</span>
        <div class="menu-tabs" *ngIf="showMenu">
          <button mat-button [routerLink]="['/', zoneId, 'info']" routerLinkActive="active-tab"> Informations</button>
          <button mat-button [routerLink]="['/', zoneId, 'chat']" routerLinkActive="active-tab">Discussion zone</button>
        </div>
      </div>
    </div>
    <div class="image-container"></div>
  </div>
</mat-toolbar>
