<div class="activity-card">
    <img *ngIf="urlIllustration" [src]="urlIllustration" alt="{{ title }}" class="activity-image" />
    <div class="activity-content">
      <h3>{{ title }}</h3>
      <p>{{ description }}</p>
      <p><strong>Location:</strong> {{ location }}</p>
      <p><strong>Available:</strong> {{ available ? 'Yes' : 'No' }}</p>
      <p><strong>Seism Tolerant:</strong> {{ isSeismTolerant ? 'Yes' : 'No' }}</p>
      <p><strong>Tsunami Tolerant:</strong> {{ isTsunamiTolerant ? 'Yes' : 'No' }}</p>
    </div>
  </div>
  